.category {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #3c7c98;
  border-radius: 20px;
}

.category-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.carousel-container {
  max-width: 1024px;
  width: 100%;
}
