.ordercard {
  width: 90%;
  height: 90%;
  padding: 20px;
  border: 2px solid rgb(161, 161, 161, 0.5);
  margin-top: 20px;
}

.ordercard-number-container {
  text-align: left;
}

.ordercard-image {
  height: 100px;
  width: auto;
}

.ordercard-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.ordercard-item-info {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 15px;
}

.ordercard-quantity-price-container {
  display: flex;
  gap: 50px;
}
