.category-page {
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}
