.profile-dropdown {
  z-index: 999;
}

.top-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.profile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 100px;
  background-color: #ffff;
  width: 200px;
  height: 330px;
  border: 3px solid #3c7c98;
}

.profile-menu-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-menu-top img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  object-fit: contain;
}

.profile-menu-top h5 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.profile-menu-top p {
  margin: 0;
  font-size: 16px;
  color: #888;
}

.profile-menu-btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
  color: #333;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
}

.profile-menu-btn:hover {
  background-color: #ddd;
}

.logout-container {
  display: flex;
  justify-content: center;
}

.btnLogout {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  width: 90%;
}

.btnLogout:hover {
  background-color: #555;
}
