.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 10%;
  width: 70%;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgb(31, 30, 44);
  z-index: 999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #999;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  flex-basis: 25%;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 5px;
}

.active {
  color: #000;
}

@media screen and (max-width: 576px) {
  .bottom-nav-container {
    bottom: 5%;
  }

  .nav-item {
    flex-basis: auto;
    text-align: center;
  }

  .nav-label {
    display: none;
  }
}
