.checkout {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.checkout-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 1240px;
  width: 100%;
  padding: 50px 0;
}

.checkout-columnname {
  display: grid;
  grid-template-columns: 2fr 0.8fr 0.8fr 0.8fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 40px;
}

.checkout-product {
  display: grid;
  grid-template-columns: 2fr 0.8fr 0.8fr 0.8fr 1fr;
  align-items: center;
  justify-items: center;
}

.checkout-image {
  height: 100px;
  width: auto;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.checkout-image-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  justify-items: start;
  width: 100px;
}

.checkout-cancelbtn {
  background-color: #89cb45;
  color: #ffff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.checkout-ordersummary-container {
  width: 100%;

  display: flex;
  margin-top: 30px;
}

.checkout-ordersummary-left {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.checkout-ordersummary-itemlist {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.checkout-ordersummary-itemlist input {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  height: 25px;
  width: 350px;
}

.checkout-btn {
  background-color: #89cb45;
  color: #ffff;
  font-size: 20px;
  width: 300px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.checkout-btn:disabled {
  background-color: gray;
  color: #ffff;
  font-size: 20px;
  width: 300px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: not-allowed;
}

.checkout-ordersummary-right {
  text-align: start;
  width: 40%;
  margin-top: 0;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout-ordersummary-totalsection {
  display: flex;

  justify-content: space-between;
}

.checkout-payment-method {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  height: 40px;
  width: 375px;
}

.checkout-postalcode::-webkit-outer-spin-button,
.checkout-postalcode::-webkit-inner-spin-button {
  appearance: none;
}
