.profilepage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profilepage-banner {
  background: linear-gradient(to bottom, #00cc99, #66ff99);
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

.profilepage-container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
  gap: 20px;
}

.profilepage-header {
  box-shadow: 0 -2px 4px rgb(31, 30, 44);
  padding: 30px;
  background-color: #ffff;
}

.profilepage-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profilepage-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}

.profilepage-body {
  box-shadow: 0 -2px 4px rgb(31, 30, 44);
  background-color: #ffff;
}

.profilepage-btns {
  margin-top: 20px;
}

.profilepage-btn-list {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  width: 230px;
}

.profilepage-btn-list:focus {
  border-bottom: 2px solid #89cb45;
}
